<ul class="mainmenu">
  <li class="level0">
    <a href="/regenwassertank" class="nav-link" title="Regenwassertank">Regenwassertank</a>
    <ul class="dropdown level0"></ul>
  </li>
  <li class="level1">
    <a href="/regenwassertonne/" title="Regenwassertonne" class="nav-link">Regenwassertonne</a>
    <ul class="dropdown level1"></ul>
  </li>
  <li class="level2">
    <a href="/regenwasserfilter/" title="Regenwasserfilter" class="nav-link">Regenwasserfilter</a>
    <ul class="dropdown level2"></ul>
  </li>
  <li class="level3">
    <a href="/regenwassersammler/" title="Regenwassersammler" class="nav-link">Regenwassersammler</a>
    <ul class="dropdown level3"></ul>
  </li>
</ul>
